<div class="container">
  <div class="row">
    <% @boards.each do |board| %>
    <div class="col-sm-12 col-lg-4 mb-5 mx-auto">
      <div id="board-id-<%= board.id %>">
        <div class="card card-shadow">
          <%= link_to board_path(board) do %>
            <%= image_tag url_for(board.board_image_url), class: "card-img-top", style: "width:100%; height:400px; object-fit: cover;" %>
          <% end %>
          <div class="card-body">
            <div class="d-flex">
              <h4 class="card-title">
                <%= link_to board.title, board_path(board), class: "dela-gothic-one-regular-3 text-decoration-none" %>
              </h4>
              <%= render "boards/bookmark_buttons", { board: board } %>
              <div class="line-it-button" data-lang="ja" data-type="share-b" data-env="REAL" data-url="<%= request.protocol + request.host_with_port + board_path(board) %>" data-color="grey" data-size="small" data-count="false" data-ver="3" style="display: none;"></div>
              <script src="https://www.line-website.com/social-plugins/js/thirdparty/loader.min.js" async="async" defer="defer"></script>
            </div>
            <ul class="list-inline">
              <li>
                <%= image_tag url_for(board.user.avatar.url), class: "rounded-circle", style: "width:30px; height:30px; object-fit:cover;" %> 
                <%= board.user.nickname %>
              </li>
            </ul>
            <%= render_with_hashtags(board.body) %>
          </div>
        </div>
      </div>
    </div>
    <% end %>
  </div>
</div>

<section class="py-5 px-3 mx-auto container-lg bg-body-secondary">
  <div class="mx-auto text-center mb-4">
    <h3 class="dela-gothic-one-regular">旅シェアとは</h3>
  </div>
  <div class="row justify-content-center mt-3">
    <!-- Card 1 -->
    <div class="col-sm-12 col-md-4 mb-4">
      <div class="card border-0 shadow-lg rounded overflow-hidden">
        <div class="card-body text-center bg-light">
          <h4 class="mb-4 fs-4 fw-semibold text-dark">- 検索機能 -</h4>
          <ul class="mt-3">
            <li class="d-flex align-items-center mb-2">・気になる観光スポットを簡単に検索</li>
            <li class="d-flex align-items-center">・ハッシュタグで気になるスポットを検索</li>
          </ul>
        </div>
        <div class="p-3 bg-light">
          <a href="https://gyazo.com/3df2e19036b6a66541f7189c7a653ca2"><img src="https://gyazo.com/3df2e19036b6a66541f7189c7a653ca2.gif" alt="Image from Gyazo" width="380" /></a>
        </div>
      </div>
    </div>
    <!-- Card 2 -->
    <div class="col-sm-12 col-md-4 mb-4">
      <div class="card border-0 shadow-lg rounded overflow-hidden">
        <div class="card-body text-center bg-light">
          <h4 class="mb-4 fs-4 fw-semibold text-dark">- LINE共有機能 -</h4>
          <ul class="mt-3">
            <li class="d-flex align-items-center mb-2">・お気に入りの観光地をLINEで共有</li>
            <li class="d-flex align-items-center">・友達に共有し旅行の計画を立てよう</li>
          </ul>
        </div>
        <div class="p-3 bg-light">
          <a href="https://gyazo.com/cf6e974797244d34e4c030d0f69595b9"><img src="https://gyazo.com/cf6e974797244d34e4c030d0f69595b9.gif" alt="Image from Gyazo" width="380" /></a>
        </div>
      </div>
    </div>
    <!-- Card 3 -->
    <div class="col-sm-12 col-md-4 mb-4">
      <div class="card border-0 shadow-lg rounded overflow-hidden">
        <div class="card-body text-center bg-light">
          <h4 class="mb-4 fs-4 fw-semibold text-dark">- 地図機能 -</h4>
          <ul class="mt-3">
            <li class="d-flex align-items-center mb-2">・地図で観光地の住所を確認しよう</li>
            <li class="d-flex align-items-center">・近くの観光地を探そう</li>
          </ul>
        </div>
        <div class="p-3 bg-light">
          <a href="https://gyazo.com/f5216d7afc36699d6766f7947426c9de"><img src="https://i.gyazo.com/f5216d7afc36699d6766f7947426c9de.jpg" alt="Image from Gyazo" width="380" /></a>
        </div>
      </div>
    </div>
  </div>
</section>

