<div class="container home-sections d-flex flex-row justify-content-center align-items-center">
  <div class="login-section pt-3">
    <div class="card text-center pt-5 mx-auto" style="width: 23rem;">
      <h1 class="dela-gothic-one-regular">PROFILE</h1>

      <table class="table">
        <tr>
          <th scope="row"><%= User.human_attribute_name(:お名前) %></th>
          <td><%= current_user.full_name %></td>
        </tr>
        <tr>
        <th scope="row"><%= User.human_attribute_name(:ニックネーム) %></th>
        <td><%= current_user.nickname %></td>
        </tr>
        <tr>
        <th scope="row"><%= User.human_attribute_name(:メールアドレス) %></th>
          <td><%= current_user.email %></td>
        </tr>
        <tr>
        <th scope="row"><%= User.human_attribute_name(:プロフィール写真) %></th>
        <td><%= image_tag url_for(current_user.avatar_url), class: 'rounded-circle', size: '80x80' %></td>
      </tr>
      </table>
      <div class="d-flex justify-content-center align-items-center mb-3">
        <%= link_to edit_profile_path, id: "button_edit_profile", class: "btn btn-dark btn-sm me-2" do %>
          <i class="bi bi-pencil-fill"></i> EDIT
        <% end %>
        <%= link_to user_path(current_user.id), id: "button-delete-profile", class: "btn btn-dark btn-sm", data: { turbo_method: :delete, turbo_confirm: "本当に削除しますか？" } do %>
          <i class="bi bi-trash-fill"></i> DELETE
        <% end %>
      </div>
    </div>
  </div>
</div>
