<div class="col-sm-10 col-lg-4 mb-5 mx-auto">
  <div id="board-id-<%= board.id %>">
    <div class="card">
      <%= image_tag board.board_image_url, class: "card-img-top w-100 h-100 object-fit-cover" %>
      <div class="card-body">
        <div class="d-flex">
          <h4 class="card-title">
            <%= link_to board.title, board_path(board) %>
          </h4>
          <%= render 'bookmark_buttons', { board: board } %>
        </div>
        <ul class="list-inline">
          <li><i class="bi bi-person"></i><%= board.user.full_name %></li>
          <li><i class="bi bi-calendar"></i><%= l board.created_at, format: :short %></li>
        </ul>
        <p class="card-text"><%= board.body %></p>
      </div>
    </div>
  </div>
</div>